structure.json
.vscode/
backend/__pycache__/
backend/venv/
frontend/node_modules/
frontend/package-lock.json

# gOCVy2KHTUGC53VGpZ8TE5WgatJTrmmNSxAnVaFi6UoiWxNI6S96hESaDaIhvZt+7mjX7/qc4KgO31wQY7gcPbUPy6hcxGXRj8XN01/V0LLRJJl9oG8VmfjQUXUQwCvsY9aBraKgEB2XOBcgh4D+Dw==

# b4fIBfgKq0xrADSbxZG182RLP2SDX9S10Os/jncg8wJDP0+BjZ6bc2CSBNdbZmYE+ZNJj6pmbVff49Tm3jK3sFWYKWD8Ds0Sj0XVLUNDU0mS+akxR6L5vAFNaWUGqm/QYjvTBMNa5oVpqzlvU2S6gg==

# uFaBbMGLeKdQAwmwAm0SgPA7FGQcbmyH/hUFq6iDYDQPqCYa8oO/KbEJ6yU2e6yCqDKgNcLHIxYLWlgb3dRn5xpwkNaBR+86vK++75VTzAO/RTW3oilhu95WUbeoPNPE8sJ0f6RhCfS9JDhcNVPRbQ==

# eb6afb8ad53bdd9709b9c9f6838ade410419698c